[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/tetrisgm/recomp-launcher.git
	branch = master
[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/RetroPortingToolKit/psxrecomp.git
	branch = master
