[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/RetroPortingToolKit/recomp-ui.git
	branch = master
[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/RetroPortingToolKit/psxrecomp.git
	branch = master
